.card__servidorPolicial__content {
  width: 100%;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.btn__expand:hover {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  transform: scale(1.5);
}
.card__servidorPolicial__li__img {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.card__servidorPolicial {
  width: 48%;
  margin: 0 auto;
  display: flex;
  border: 0.1em solid black;
  border-radius: 0.4em;
  padding: 0.2em;
}

.card__servidorPolicial__ul {
  width: 100%;
  display: flex;
  font-size: 0.8em;
  text-align: center;
  justify-content: space-between;
}
.card__servidorPolicial__li {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card__servidorPolicial__label {
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.5em;
  color: var(--blue2-color);
  text-shadow: 1px 1px 1px var(--plomo-color);
}
.card__servidorPolicial__value {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--plomo2-color);
  font-weight: 700;
}

.card__servidorPolicial__value__v {
  width: 1em;
  height: 1em;
  border-radius: 100%;
}

@media (max-width: 600px) {
  .card__servidorPolicial__servidorPolicial__content {
    width: 100%;
    padding: 0.5em;
  }

  .card__servidorPolicial__servidorPolicial {
    display: flex;
    margin: 1em 0;
    border: none;
    border-radius: 0.5em;
    padding: 0.2em;
  }

  .card__servidorPolicial__ul {
    margin: 0.5em auto;
    font-size: 0.8em;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .card__servidorPolicial__li {
    border: 1px solid black;
    width: 85%;
    margin: 0 auto;
  }
  .card__servidorPolicial__value__v {
    margin: 0 auto;
  }
}
