.card__servidorPolicial__content {
  width: 100%;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.paginated-content {
  width: 65%;
  margin: 1.5em auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5vw;
}

.btn-buttton-page-content {
  border: none;
  background: none;
}

.btn-page {
  border-radius: 100%;
  width: 3vw;
  height: 2.5vw;
  background-color: var(--plomo-color);
  color: var(--black-color);
  font-weight: 700;
  font-size: 0.8em;
}

.btn-button-page:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.btn-page:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.help {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.btn-page-card {
  border-radius: 100%;
  width: 2em;
  height: 1.5em;
  font-size: 1.5em;
  margin: 0.2em;
  text-align: center;
  vertical-align: center;
}

.btn-page-card:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.triangulo_izq {
  width: 0;
  height: 0;
  border-top: 1vw solid transparent;
  border-right: 2vw solid var(--blue-color);
  border-bottom: 1vw solid transparent;
}

.triangulo_der {
  width: 0;
  height: 0;
  border-top: 1vw solid transparent;
  border-left: 2vw solid var(--blue-color);
  border-bottom: 1vw solid transparent;
}

.servidores__page {
  font-size: 1.5em;
  font-weight: 800;
  color: var(--blue-color);
  width: 100%;
  max-width: 6em;
  margin: 0 auto;
  padding-bottom: 1rem;
  text-align: center;
}

/* //-------------------------------------------------------------------------------------------- */

.btn__expand:hover {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  transform: scale(1.5);
}

.card__servidorPolicial__li__img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.alert__desplazamiento {
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  border: solid 0.15em var(--black-color);
  margin-bottom: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: 2em;
  left: 0;
  background-color: #333;
  color: #fff;
  padding: 0.5em;
  padding-right: 1.5em;
  border-radius: 0.5em;
  font-size: 0.8em;
  z-index: 10;
  white-space: nowrap;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.ul__tooltip {
  display: flex;
  flex-direction: column;
}
.li__tooltip {
  display: flex;
}
.label__tooltip {
  width: 50%;
}

.value__tooltip {
  width: 50%;
}

.card__servidorPolicial {
  width: 49%;
  height: 5em;
  margin: 0 auto;
  display: flex;
  border: 0.1em solid black;
  border-radius: 0.4em;
  padding: 0.2em;
}

.card__servidorPolicial:hover {
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
}

.card__servidorPolicial__ul {
  width: 100%;
  display: flex;
  font-size: 0.8em;
  text-align: center;
  justify-content: space-between;
}

.card__servidorPolicial__li {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0.1em;
}

.card__servidorPolicial__li__grado {
  display: flex;
  flex-direction: column;
  padding-top: 0.1em;
}

.card__servidorPolicial__label {
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.5em;
  color: var(--blue2-color);
  text-shadow: 1px 1px 1px var(--plomo-color);
}

.card__servidorPolicial__value {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  word-break: break-word;
  color: var(--plomo2-color);
  font-weight: 700;
}

.card__servidorPolicial__value__mobile {
  display: none;
}

.card__servidorPolicial__value__v {
  width: 1em;
  height: 1em;
  border-radius: 100%;
}

@media (max-width: 600px) {
  .card__servidorPolicial__content {
    padding: 0.2em;
  }

  .paginated-content {
    width: 100%;
    margin: 0.2em;
    gap: 0.1em;
  }

  .btn-page {
    border-radius: 0;
    width: 2em;
    height: 3em;
    font-size: 0.6em;
    padding: 0;
    writing-mode: vertical-rl;
  }

  .btn-page-card {
    border-radius: 100%;
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .triangulo_izq {
    width: 0;
    height: 0;
    border-top: 0.5em solid transparent;
    border-right: 1em solid var(--blue-color);
    border-bottom: 0.5em solid transparent;
  }

  .triangulo_der {
    width: 0;
    height: 0;
    border-top: 0.5em solid transparent;
    border-left: 1em solid var(--blue-color);
    border-bottom: 0.5em solid transparent;
  }

  .servidores__page {
    font-size: 1em;
    margin-top: 0.3em;
  }

  /* //-------------------------------------------------------------------------------------------- */

  .btn__expand:hover {
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    transform: scale(1.5);
  }
  .btn__expand {
    width: 1em;
  }

  .card__servidorPolicial__li__img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  .alert__desplazamiento {
    width: 1em;
    height: 1em;
    border: solid 0.05em var(--black-color);
    margin-bottom: 0;
  }

  .card__servidorPolicial {
    width: 100%;
    height: 3.5em;
    border: 0.05em solid black;
  }

  .card__servidorPolicial:hover {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
  }

  .card__servidorPolicial__ul {
    width: 100%;
    font-size: 0.8em;
  }

  .card__servidorPolicial__label {
    font-size: 0.85em;
  }

  .card__servidorPolicial__li {
    font-size: 0.8em;
    font-weight: 700;
  }

  .card__servidorPolicial__li__grado {
    font-size: 0.8em;
    font-weight: 700;
  }

  .card__servidorPolicial__value__mobile {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    word-break: break-word;
    color: var(--plomo2-color);
    font-weight: 800;
  }

  .hide__pc {
    display: none;
  }

  .card__servidorPolicial__value {
    font-size: 1em;
    font-weight: 0;
  }
}
