.isLoading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.671);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.img__loading {
  width: 200px;
  animation: spin 1s linear infinite;
}

.text__loading {
  font-size: 2em;
  font-weight: 700;
  color: var(--blue-color);
  text-shadow: 2px 2px 5px black;
  margin-left: 10px;
}

@media (max-width: 800px) {
  .text__loading {
    font-size: 5em;
  }
  .img__loading {
    width: 100px;
  }
}
