.home_mesagge {
  width: 50%;
  margin: 5vh auto;
  text-align: center;
  font-weight: 800;
  color: var(--blue-color);
  text-shadow: 2px 2px 5px var(--plomo-color);
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  font-size: 0.6em;
}

th,
td {
  border: 1px solid #7b7777;
  padding: 2px;

}
tr:hover {
  background-color: rgb(132, 237, 132);
}

.nomenclatura {
  text-align: left;
}

th {
  background-color: #908d8d;
}
