.send__email__card {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 1em;
    margin-top: 2em;
  }
  
  .title__send__email__card {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em;
    color: var(--blue-color);
    text-shadow: 1px 1px 3px black;
  }
  
  .send__email__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  .label__send__email__card {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    width: 50%;
    margin: 0 auto;
  }
  
  .send__email__card__btn {
    width: 20%;
    border: none;
    font-size: 1.5em;
    padding: 0.2em;
    font-weight: 800;
    color: var(--blue-color);
    background: transparent;
    border: 3px solid var(--plomo-color);
    border-radius: 5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .send__email__card__btn:hover {
    background: var(--blue-color);
    color: var(--plomo-color);
    border: 3px solid var(--plomo-color);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  
  .span__send__email__card {
    font-size: 1.4em;
    font-weight: 700;
    color: var(--black-color);

  }
  
  .input__send__email__card {
    font-size: 1em;
    text-align: center;
  }
  
  
  
  @media (max-width: 600px) {
    .send__email__card {
      width: 80%;
    }
    .logued__card {
      width: 90%;
    }
  }
  