/* @import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap'); */

/* html {
  font-family: "Tilt Neon", sans-serif;
} */

:root {
  --plomo-color: #a7a9ab;
  --plomo2-color: #333333;
  --plomo3-color: #e4e2e2;
  --blue-color: #154986;
  --blue2-color: #022c5b;
  --green-color: #00833e;
  --green2-color: #015026;
  --red-color: #e30513;
  --orange-color: #ff9e15;
  --yellow-color: #ffce01;
  --black-color: #000000;
  --white-color: #ffffff;

  --plomoT-color: rgba(167, 169, 171, 0.5);
  --plomo2T-color: rgba(51, 51, 51, 0.5);
  --blueT-color: rgba(21, 73, 134, 0.5);
  --blue2T-color: rgba(2, 44, 91, 0.5);
  --greenT-color: rgba(0, 131, 62, 0.5);
  --redT-color: rgba(227, 5, 19, 0.5);
  --orangeT-color: rgba(255, 158, 21, 0.8);
  --yellowT-color: rgba(255, 206, 1, 0.8);
  --blackT-color: rgba(0, 0, 0, 0.5);
  --whiteT-color: rgba(255, 255, 255, 0.5);
}

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p,
ul,
hr {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

img, span {
  display: block;
}

input,
button,
select {
  font-family: inherit;
}

button {
  cursor: pointer;
}
