.create__users__list__users {
  display: flex;
  flex-direction: column;
 
}

.cerate__user__btn {
  width: 10%;
  align-self: flex-end;
  background-color: var(--plomo-color);
  font-size: 0.9em;
  color: var(--blue-color);
  text-decoration: none;
  font-weight: 700;
  border: solid 0.15rem black;
  background-color: var(--plomo-color);
  padding: 0.1em 0.8em;
  border-radius: 0.5em;
}
.cerate__user__btn:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.form__close {
  transform: scale(0);
}

.form__container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.309);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1000ms ease;
}

.create__user__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 90%;
  max-width: 40em;
  background-color: var(--white-color);
  padding: 2em 1em;
  border-radius: 0.8rem;
  position: relative;
}

.title__create__user__card {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
  color: var(--blue-color);
  text-shadow: 1px 1px 3px black;
}


.form__exit {
  color: rgb(3, 3, 3);
  position: absolute;
  font-size: 1.3rem;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.form__exit:hover {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  transform: scale(1.3);
}

.show__change__control {
  color: rgb(3, 3, 3);
  position: absolute;
  font-size: 1.3rem;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  font-size: 0.7em;
  color: var(--blue-color);
  font-weight: 800;
  border: 0.2em solid var(--blue-color);
  padding: 0.1em 0.5em;
  border-radius: 1em;
}
.show__change__control:hover {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  transform: scale(1.2);
}
.tooltip-text {
  font-size: 0.8em;
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.show__change__control:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.label__create__user__card {
  display: flex;
  width: 80%;
}

.label__create__user__card__control {
  display: flex;
  width: 167%;
  position: relative;
  right: 6.5em;
}

.span__create__user__card {
  width: 30%;
  font-size: 1em;
  font-weight: 700;
  color: var(--blue-color);
  text-shadow: 0.5px 0.5px 2px black;
}

.input__create__user__card__control {
  width: 70%;
  font-size: 0.75em;
  border-radius: 5px;
  position: relative;
  right: -0.6em;
}

.input__create__user__card {
  width: 70%;
  font-size: 0.75em;
  border-radius: 5px;
}

.create__user__card__btn {
  width: 25%;
  border: none;
  font-size: 1em;
  margin: 0 auto;
  padding: 0.2em;
  font-weight: 800;
  color: var(--blue-color);
  background: transparent;
  border: 3px solid var(--plomo-color);
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.create__user__card__btn:hover {
  background: var(--blue-color);
  color: var(--plomo-color);
  border: 3px solid var(--plomo-color);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

@media (max-width: 600px) {
  .create__users__list__users {
    display: flex;
    flex-direction: column;
  }

  .create__user__card {
    width: 100%;
    padding: 0em;
    margin-top: 1em;
  }

  .title__create__user__card {
    font-size: 1.5em;
  }

  .create__user__form {
    gap: 0.5em;
  }
  .cerate__user__btn {
    width: 40%;
    font-size: 0.7em;
  }

  .label__create__user__card {
    display: flex;
    gap: 0.1em;
    width: 95%;
    margin: 0 auto;
  }

  .span__create__user__card {
    width: 30%;
    font-size: 0.8em;
    font-weight: 700;
    color: var(--blue-color);
    text-shadow: 0.5px 0.5px 2px black;
  }

  .input__create__user__card {
    width: 60%;
    font-size: 1em;
    border-radius: 5px;
  }

  .create__user__card__btn {
    width: 50%;
  }
}
