.direccion__unidad__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 1;
  background-color: white;
}

.fondo__DIGIN::before {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../DIGIN.png");
}

.fondo__DINAF::before {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../DINAF.png");
}

.fondo__DNPJ::before {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../DNPJ.png");
}

.fondo__DNA::before {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../DNA.png");
}

.fondo__DINASED::before {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../DINASED.png");
}

.fondo__DINITEC::before {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../DINITEC.png");
}

.fondo__DINIC::before {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../DINIC.png");
}

.fondo__UDT::before {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../UDT.png");
}

.fondo__AMERIPOL::before {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../AMERIPOL.png");
}

.fondo__UIAD::before {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../UIAD.png");
}

.fondo__UNDP::before {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../UNDP.png");
}

.fondo__REGPOL::before {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../REGPOL.png");
}

.fondo__UNRED::before {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../UNRED.png");
}

.fondo__INTERPOL::before {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../INTERPOL.png");
}

.fondo__ULCO::before {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../ULCO.png");
}

.fondo__CIBERPOL::before {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../CIBERPOL.png");
}

.fondo__UNIT::before {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../UNIT.png");
}

.fondo__UNPROV::before {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../UNPROV.png");
}

.fondo__UNAI::before {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../UNAI.png");
}

.direccion__unidad__content::before {
  content: "";
  position: fixed;
  top: 6em;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
  background-blend-mode: overlay;
  transform: skewY(-8deg);
  transform-origin: top left;
  opacity: 0.13;
  z-index: -1;
}

.direccion__unidad__title__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  background: linear-gradient(
    to bottom right,
    var(--blue-color) 10%,
    var(--white-color) 20%,
    var(--white-color) 80%,
    var(--blue-color) 90%
  );
  color: var(--blue-color);
}

.direccion__unidad__title {
  display: block;
  font-size: 1.9em;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  margin: 0.5em 5em;
}

.cerrar__content {
  position: fixed;
  top: 0.5em;
  right: 1em;
  font-size: 1.5em;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  z-index: 99;
}

.cerrar__content:hover {
  transform: scale(1.4);
}

.direccion__unidad__resumen__content {
  margin-top: 12em;
  width: 100%;
  padding-left: 0.3em;
  display: flex;
  flex-direction: column;
}
.direccion__unidad__ul__resumen_1 {
  width: 100%;
  display: flex;
  padding: 0 6em;
}

.direccion__unidad__ul__resumen_2 {
  width: 100%;
  display: flex;
  margin-top: 2em;
  margin-bottom: 10em;
}

.img__logo {
  width: 20em;
}

.direccion__unidad__li__resumen__logo {
  width: 40%;
  padding: 1em;
}

.direccion__unidad__li__resumen__deficit {
  width: 70%;
  padding: 1em 4em;
  border: solid 0.2em var(--blackT-color);
  border-radius: 1em;
}

.direccion__unidad__li__resumen {
  width: 50%;
}

.direccion__unidad__resumen__title {
  color: var(--blue2-color);
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  width: 95%;
  margin: 0 auto 1em auto;
  text-shadow: 0.1em 0.1em 1em var(--plomo2-color);
}

.direccion__unidad__content__deficit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.direccion__unidad__resumen__ul__deficit {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.direccion__unidad__resumen__li__deficit {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.direccion__unidad__resumen__deficit__span__label {
  width: 60%;
  display: inline-block;
  padding: 0.2em 0.2em;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white-color);
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(90deg, var(--plomo-color), var(--blue2-color));
  border-radius: 1em;
  box-shadow: 0 0.2em 0.4em var(--plomo2-color);
  text-shadow: 0.1em 0.1em 0.5em var(--plomo-color);
}

.direccion__unidad__deficit__span__img {
  width: 20%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.direccion__unidad__img__flecha {
  width: 3em;
}

.direccion__unidad__resumen__deficit__span__value {
  width: 10%;
  text-align: center;
  color: var(--plomo2-color);
  font-size: 2.5em;
  font-weight: 800;
  text-shadow: 0.3em 0.2em 0.2em var(--plomo-color);
}

.direccion__unidad__btn__vermas {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.ver__mas__button {
  margin-top: 1em;
  background: linear-gradient(135deg, var(--plomo-color), var(--black-color));
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.3em 1.5em;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.ver__mas__button:hover {
  background: linear-gradient(135deg, var(--blue2-color), var(--blue2-color));
  transform: scale(1.05);
  box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.8);
}

.ver-mas-button:active {
  transform: scale(0.99);
  box-shadow: 0 0.4em 0.7em rgba(0, 0, 0, 0.2);
}

.direccion__unidad__li__resumen__desp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 1em;
}

.direccion__unidad__span__resumen__desp {
  width: 27%;
  font-size: 0.9em;
}

.fila__columna__desp {
  min-height: 3em;
  background: linear-gradient(
    to bottom right,
    var(--plomo-color) 10%,
    var(--plomo-color) 30%,
    var(--white-color) 70%,
    var(--blue-color) 90%
  );
  color: var(--black-color);
  font-style: italic;
  font-weight: 800;
  border-radius: 1em;
  margin: 0.5em;
  padding: 0.3em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fila__columna__desp_total {
  background: linear-gradient(
    to bottom right,
    var(--yellow-color) 20%,
    var(--white-color) 40%,
    var(--white-color) 60%,
    var(--yellow-color) 80%
  );
  font-size: 1.5em;
  min-height: 2em;
}

.value__desp {
  font-size: 2em;
  font-weight: 800;
  text-align: center;
  background: radial-gradient(
    ellipse at center,
    rgba(1, 89, 1, 0.7) 30%,
    rgba(0, 128, 0, 0.3) 60%,
    rgba(0, 128, 0, 0) 75%
  );
  color: rgb(2, 31, 40);
  padding: 0.2em 0.5em;
  display: inline-block;
}

.value__desp_total {
  background: radial-gradient(
    ellipse at center,
    rgba(232, 221, 12, 0.742) 30%,
    rgba(201, 201, 7, 0.478) 60%,
    rgba(0, 128, 0, 0) 75%
  );
  color: var(--black-color);
}

.direccion__unidad__laborando__content {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 2em;
}

.direccion__unidad__laborando__span__label {
  width: 40%;
  background: linear-gradient(
    145deg,
    rgba(251, 255, 0, 0.878),
    rgba(255, 238, 0, 0.367)
  );
  border-radius: 10px;
  border: 0.2em solid var(--black-color);
  color: var(--black-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.direccion__unidad__laborando__span__value {
  width: 20%;
  background: linear-gradient(
    145deg,
    rgba(99, 100, 100, 0.707),
    rgba(65, 65, 66, 0.445)
  );
  border-radius: 10px;
  border: 0.2em solid var(--black-color);
  color: var(--blue-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

@media (max-width: 600px) {
  .direccion__unidad__content::before {
    top: 10em;
  }
  .direccion__unidad__title {
    font-size: 2.8em;
  }
  .direccion__unidad__resumen__content {
    margin-top: 16.5em;
  }
  .direccion__unidad__ul__resumen_1 {
    padding: 2em;
  }

  .direccion__unidad__ul__resumen_2 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .cerrar__content {
    right: 0.5em;
    font-size: 3em;
  }
  .direccion__unidad__li__resumen__deficit {
    border: none;
  }

  .direccion__unidad__li__resumen__logo {
    width: 50%;
    padding: 0;
    margin: 0;
    margin: auto 0;
  }

  .img__logo {
    width: 100%;
  }
  .direccion__unidad__resumen__ul__deficit {
    width: 100%;
  }
  .direccion__unidad__resumen__li__deficit {
    margin: 0;
  }
  .direccion__unidad__resumen__deficit__span__label {
    font-size: 2em;
  }
  .direccion__unidad__resumen__deficit__span__value {
    font-size: 3em;
  }

  .direccion__unidad__li__resumen {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5em;
  }
  .direccion__unidad__resumen__title {
    font-size: 2.5em;
  }
  .direccion__unidad__span__resumen__desp {
    font-size: 2em;
  }
  .direccion__unidad__laborando__span__label {
    font-size: 2em;
    width: 50%;
  }
  .direccion__unidad__laborando__span__value {
    font-size: 5em;
    width: 30%;
  }
  .value__desp_total,
  .value__desp {
    font-size: 3em;
  }
  .ver__mas__button {
    font-size: 2.5em;
    width: 7em;
  }

  .ver__mas__button__mobile {
    width: 20em;
  }

  .cerrar__content__desplazamiento {
    right: 0.4em;
    top: 0.4em;
    font-size: 2.5em;
  }
  .direccion__unidad__img__flecha {
    width: 5em;
  }
}
